<li>
<ul id="myCollapsingList" class="nav navbar-nav collapse navbar-collapse navbar-right">
        <li><a href="#/">Home</a></li>
        <li><a href="#/menu">Menu</a></li>
        <li><a href="#/book">Book a table</a></li>
        <li><a href="#/contact">Contact</a></li>
        <li>
<a href="" class="dropdown" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign in <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="#/login">Log in</a></li>
            <li><a href="#/register">Register</a></li>
          </ul>
        </li>
</li>