<li>
<ul id="myCollapsingList" class="nav navbar-nav collapse navbar-collapse navbar-right">
        <li><a href="#/">Home</a></li>
        <li><a href="#/menu">Menu<span class="terms1">*</span></a></li>
        <li><a href="#/book">Book a table</a></li>
        <li><a href="#/contact">Contact</a></li>
        <li>
<a href="" class="dropdown" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user}} <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="#/discount">Discount code</a></li>
            <li><a href="#/logout">Log out</a></li>
          </ul>
        </li>
</li>