<div>
	<div class="background_image">
	</div>
	<header class="burritoHeader">
		<span>Burrito Bar</span>
	</header>
	<div class="col-lg-4">
	  	<h2>Let's talk Burritos!</h2>
	  	<img height="70px" src="images/burrito_glyph2.png">
	  	<p>We pride ourselves on bringing you the best mexian dining experience, from atmosphere to food. Why are we different? Well... our burrito's are the best! Take a look!<br><a href="#/menu">Menu</a></p>
	</div>
	<div class="col-lg-4">
	  	<h2>Join now and get 10% off!</h2>
	  	<img height="70px" src="images/10.png">
	  	<p>Register today to join our mailing list & keep up to date with all our latest offers. Also, get 10% off your bill by quoting the discount code. Best of all it's free! <br><a href="#/register">Sign up</a></p>
	</div>
	<div class="col-lg-4">
	  	<h2>Book a table!</h2>
	  	<img height="70px" src="images/taco.png">
	  	<p>You can book a table right now! Prefer a more personal touch? Why not drop us an e-mail or give us a call. We will be more than happy to help with any enquiries.<br><a href="#/book">Online booking form</a></p>
	</div>
</div>