<div>
<header>
<span>Menu</span>
</header>
<div class="container">
<div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="menu/#tab1default" data-toggle="tab">STARTERS</a></li>
                            <li><a href="menu/#tab2default" data-toggle="tab">MAINS</a></li>
                            <li><a href="menu/#tab3default" data-toggle="tab">DESSERTS</a></li>
                        </ul>
                </div>
                <!-- STARTER MENU -->
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                          <table cellpadding="10px" align="center" width="95%">
                            <tr>
                              <td class="menu-heading"><h3>Nachos</h3></td>
                              <td class="menu-price"><h3>£3.49</h3></td>
                            </tr>
                            <tr>
                              <td class="menu-description">
                                <p>Spicy nachos with cheese, jalepenos & chopped salad.</p>
                              </td>
                            </tr>
                            <tr>
                              <td class="menu-heading"><h3>Chicken Wings</h3></td>
                              <td class="menu-price"><h3>£4.99</h3></td>
                            </tr>
                            <tr>
                              <td class="menu-description">
                                <p>4 Succulent chicken wings with a choice of 2 sauces (BBQ or Peri Peri).<br><br>Sharing platter:
                                                   <br>- For two (8) wings - £9.99
                                                   <br>- Family platter (16) wings - £16.99</p>
                              </td>
                            </tr>
                            <tr>
                              <td class="menu-heading"><h3>Tacos</h3></td>
                              <td class="menu-price"><h3>£3.99</h3></td>
                            </tr>
                            <tr>
                              <td class="menu-description">
                                <p>Crispy, freshly fried taco shells filled with (Chicken, Pork or Beef) and salad.</p>
                              </td>
                            </tr>
                            <tr>
                              <td class="menu-heading"><h3>Garlic Bread</h3></td>
                              <td class="menu-price"><h3>£3.99</h3></td>
                            </tr>
                            <tr>
                              <td class="menu-description">
                                <p>Our mexican style garlic bread seasoned and cooked to perfection. (with cheese add £0.50p).</p>
                              </td>
                            </tr>
                            <tr>
                              <td class="menu-heading"><h3>Quesadillas</h3></td>
                              <td class="menu-price"><h3>£3.99</h3></td>
                            </tr>
                            <tr>
                              <td class="menu-description">
                                <p>Tortilla, filled, folded, pan-toasted & served with tomato salsa. <br><br>Choices: 
                                              <br>- Chilli Beef & cheese 
                                              <br>- Peri Peri chicken, jalepeno, onion & cheese </p>
                              </td>
                            </tr>
                          </table>
                        </div>
                        <!-- MAINS MENU -->
                        <div class="tab-pane fade" id="tab2default">
                          <table cellpadding="10px" align="center" width="95%">
                            <tr>
                              <td colspan="2" align="center">
                                <span class="terms2" align="center">All main courses are served with a side, choose from Fries, Jacket potato, Nachos or Mixed Spicy Salad.</p>
                              </td>
                            </tr>
                            <tr>
                              <td class="menu-header"><h3>Classic Burrito</h3></td>
                              <td class="menu-price"><h3>£10.99</h3></td>
                            </tr>
                            <tr>
                              <td class="menu-description">
                                <p>Our 'Classic Burrito' is 1/2lb of traditional mouth-watering burrito goodness. A choice of Beef, Chicken or Pulled Pork, filled in a wrap with rice, beans, guaqamole, salsa & sour cream.</p>
                              </td>
                            </tr>
                            <tr>
                              <td class="menu-header"><h3>Burrito Bar Special</h3></td>
                              <td class="menu-price"><h3>£15.99</h3></td>
                            </tr>
                            <tr>
                              <td class="menu-description">
                                <p>The Burrito Bar Special is a 1lb burrito fit for a king. A choice of Beef, Chicken or Pulled pork, topped with cheese & filled in a wrap with rice, beans, guaqamole, salsa & sour cream.</p>
                              </td>
                            </tr>
                            <tr>
                              <td class="menu-header"><h3>Cheeseburger Burrito</h3></td>
                              <td class="menu-price"><h3>£11.99</h3></td>
                            </tr>
                            <tr>
                              <td class="menu-description">
                                <p>Two tasty quarter pounder beef burgers with cheese, pickle, onions and our very own 'Burrito Bar Burger Sauce' all topped with an extra layer of nacho cheese sauce!</p>
                              </td>
                            </tr>
                            <tr>
                              <td class="menu-header"><h3>Chimichanga</h3></td>
                              <td class="menu-price"><h3>£10.99</h3></td>
                            </tr>
                            <tr>
                              <td class="menu-description">
                                <p>Try our deep fried 'Chimichanga' burrito, filled with all the classic ingredients. Choose from Beef, Chicken or pulled pork.</p>
                              </td>
                            </tr>
                            <tr>
                              <td class="menu-header"><h3>Burrito Bar Chilli</h3></td>
                              <td class="menu-price"><h3>£9.99</h3></td>
                            </tr>
                            <tr>
                              <td class="menu-description">
                                <p>Ground beef with minced chipotle peppers, mixed beans in adobe sauce with spicy tomato base. Served with a dollop of sour cream and grated cheddar cheese.</p>
                              </td>
                            </tr>
                          </table>
                          <!-- DESSERTS MENU -->
                        </div>
                        <div class="tab-pane fade" id="tab3default">
                          <table cellpadding="10px" align="center" width="95%">
                            <tr>
                              <td class="menu-header"><h3>Churros</h3></td>
                              <td class="menu-price"><h3>£3.99</h3></td>
                            </tr>
                            <tr>
                              <td class="menu-description">
                                <p>4 crispy fried doughnuts, dusted with powdered sugar, with your choice of chocolate ganache, toffee or dulce de leche sauce.
                                                <br><br>For two (8 churros) - £6.99</p>
                              </td>
                            </tr>
                            <tr>
                              <td class="menu-header"><h3>BB Sundae Special</h3></td>
                              <td class="menu-price"><h3>£4.49</h3></td>
                            </tr>
                            <tr>
                              <td class="menu-description">
                                <p> The 'Burrito Bar Special' is vanilla ice cream with chocolate raisins, chocolate mint sticks, nuts, crispy doughnut pieces topped with whipped cream and chocolate sauce.
                                        <br><br>To share (Large) - £7.49</p>
                              </td>
                            </tr>
                            <tr>
                              <td class="menu-header"><h3>Chocolate Fudge Cake</h3></td>
                              <td class="menu-price"><h3>£4.49</h3></td>
                            </tr>
                            <tr>
                              <td class="menu-description">
                                <p>
                              Gooey chocolate cake, layered with smooth chocolate fudge topped with fudge icing. Served with cream or vanilla ice cream.</p>
                              </td>
                            </tr>
                            <tr>
                              <td class="menu-header"><h3>Banoffee Waffles</h3></td>
                              <td class="menu-price"><h3>£3.99</h3></td>
                            </tr>
                            <tr>
                              <td class="menu-description">
                                <p>A crisp perfectly golden belgian waffle, with banana slices, drizzled with yummy toffee sauce.</p>
                              </td>
                            </tr>
                            <tr>
                              <td class="menu-header"><h3>Harlequin Ice Cream Cake</h3></td>
                              <td class="menu-price"><h3>£4.99</h3></td>
                            </tr>
                            <tr>
                              <td class="menu-description">
                                <p>Mexican themed Harlequin Ice Cream (Green, Red & White) with a fluffy madeira cake. </p>
                              </td>
                            </tr>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>